[submodule "frontend"]
	path = frontend
	url = https://github.com/Marlon-Urena/chat-app-frontend
[submodule "backend/authentication-service"]
	path = backend/authentication-service
	url = https://github.com/Marlon-Urena/authentication-service
[submodule "backend/user-account-service"]
	path = backend/user-account-service
	url = https://github.com/Marlon-Urena/userAccountService
